/**************************************************************
*   General
**************************************************************/

body {
    color: rgb(0, 0, 0);
    font: 18px Calibri;
}

/**************************************************************
*   Top section
**************************************************************/
header {
    font-size: 50px;
    font-weight: 700;
    padding: 15px;
}

nav {
    border: 5px solid red;
    padding: 5px;
    align-items: center;
}

/**************************************************************
*   Body
**************************************************************/
.breakfast {
    color: rgb(255, 0, 0);
}

.lunch {
    color: #ffbb00;
}

.dinner {
    color: rgb(0, 255, 13);
}

.snack {
    color: rgb(0, 26, 255);
}

/**************************************************************
*   Bottom
**************************************************************/
footer {
    font-size: 25px;
}